<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>游戏商品管理</title>

    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <!--引入bootstrap-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/vendors/bootstrap.min.js}"></script>


    <!--引入提示框-->
    <script th:src="@{/js/sweet-alert.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sweet-alert.css}">

    <!--引入搜索框样式-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}"/>

</head>
<body>

<div class="container" >
    <div class="col-md-12">

        <button type="button" class="btn btn-success" style="float: left;margin-top: 40px;width: 80px;" onclick="toGameInfoAdd()">添加</button>

        <div class="search d1">
            <form th:action="@{/gameInfoManage}" method="get">
                <input type="text" placeholder="输入游戏名即可查找" name="gameName" th:value="${gameName}">
                <button type="submit"></button>
            </form>
        </div>

        <div style="text-align: center;vertical-align: middle;">
            <table class="table table-hover table-striped table-bordered" >
                <thead>
                <tr>
                    <th style="text-align: center;">id</th>
                    <th style="text-align: center;">游戏图片</th>
                    <th style="text-align: center;">游戏名称</th>
                    <th style="text-align: center;">游戏类型</th>
                    <th style="text-align: center;">游戏价格</th>
                    <th style="text-align: center;">游戏折扣</th>
                    <th style="text-align: center;">销售量</th>
                    <th style="text-align: center;">游戏状态</th>
                    <th style="width: 150px;text-align: center">操作</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="game : ${allGameInfoDTO.list}" th:id="${'gameTr_'+game.gameId}">
                    <td th:text="${game.gameId}" style="vertical-align: middle;"></td>
                    <td th:if="${not#lists.isEmpty(game.imgs)}"><img th:src="${game.imgs[0]}" style="width: 150px;height: 100px;"></td>
                    <td th:if="${#lists.isEmpty(game.imgs)}"><img src="gameImg/default.jpg" style="width: 150px;height: 100px;"></td>
                    <td th:text="${game.gameName}" style="vertical-align: middle;"></td>
                    <td th:text="${game.typeName}" style="vertical-align: middle;"></td>
                    <td th:text="${game.gamePrice}" style="vertical-align: middle;"></td>
                    <td th:if="${game.gameDiscount != 0}" th:text="${game.gameDiscount}" style="vertical-align: middle;"></td>
                    <td th:if="${game.gameDiscount == 0}" style="vertical-align: middle;">无</td>
                    <td th:text="${game.quantitySale}" style="vertical-align: middle;"></td>
                    <td style="vertical-align: middle;" th:id="${'gameStatus_'+game.gameId}">
                        <button th:if="${game.gameStatus == 1}" type="button" class="btn btn-success" th:onclick="'lockGame('+${game.gameId}+')'">在售</button>
                        <button th:if="${game.gameStatus == 0}" type="button" class="btn btn-danger" th:onclick="'unLockGame('+${game.gameId}+')'">未售</button>
                    </td>
                    <td style="vertical-align: middle;">
                        <button type="button" class="btn btn-success" th:onclick="'toGameInfoUpdate('+${game.gameId}+','+${allGameInfoDTO.pageNum}+')'">修改</button>
                        <button type="button" class="btn btn-danger" th:onclick="'deleteGame('+${game.gameId}+')'">删除</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!--分页条-->
    <nav aria-label="Page navigation" style="float: right">
        <ul class="pagination">
            <li>
                <a th:href="@{'/gameInfoManage?p='+${allGameInfoDTO.hasPreviousPage ? allGameInfoDTO.pageNum-1 : 1}+'&gameName='+${gameName}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:each="num : ${allGameInfoDTO.navigatepageNums}" th:class="${num == allGameInfoDTO.pageNum ? 'active' : ''}">
                <a th:href="@{'/gameInfoManage?p='+${num}+'&gameName='+${gameName}}" th:text="${num}"></a>
            </li>

            <li>
                <a th:href="@{'/gameInfoManage?p='+${allGameInfoDTO.hasNextPage ? allGameInfoDTO.pageNum+1 : allGameInfoDTO.pages}+'&gameName='+${gameName}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


</div>

</body>

<script type="text/javascript">

    function lockGame(gameId) {
        swal({

                title: "是否下架该游戏",

                type: "warning",

                showCancelButton: true,

                confirmButtonColor: "#DD6B55",

                confirmButtonText: "是",

                cancelButtonText: "否",

                closeOnConfirm: false

            },

            function(isConfirm){

                if(isConfirm){
                    $.ajax({
                        url:'/lockGame/'+gameId,
                        type:'get',
                        success:function (result) {
                            if(result.resultCode == 200){
                                swal("", result.message, "success");
                                /*改变用户的状态显示*/
                                var statusTd = document.getElementById("gameStatus_"+gameId);
                                statusTd.innerHTML="";
                                statusTd.innerHTML="<button type=\"button\" class=\"btn btn-danger\" onclick=\"unLockGame("+gameId+")\">未售</button>"

                            }else{
                                swal("",result.message, "error")
                            }
                        }
                    });

                }

            });
    }
    
    function toGameInfoAdd() {
        window.location.href='/admin/gameInfoAdd';
    }

    function toGameInfoUpdate(gameId,p) {
        window.location.href='/admin/gameInfoUpdate/'+gameId+'/'+p;
    }


    function unLockGame(gameId) {
        swal({

                title: "是否上架该游戏",

                type: "warning",

                showCancelButton: true,

                confirmButtonColor: "#DD6B55",

                confirmButtonText: "是",

                cancelButtonText: "否",

                closeOnConfirm: false

            },

            function(isConfirm){

                if(isConfirm){
                    $.ajax({
                        url:'/unLockGame/'+gameId,
                        type:'get',
                        success:function (result) {
                            if(result.resultCode == 200){
                                swal("", result.message, "success");
                                /*改变用户的状态显示*/
                                var statusTd = document.getElementById("gameStatus_"+gameId);
                                statusTd.innerHTML="";
                                statusTd.innerHTML="<button type=\"button\" class=\"btn btn-success\" onclick=\"lockGame("+gameId+")\">在售</button>"

                            }else{
                                swal("",result.message, "error")
                            }
                        }
                    });

                }

            });
    }


    function deleteGame(gameId) {

        swal({

                title: "是删除该游戏",

                type: "warning",

                showCancelButton: true,

                confirmButtonColor: "#DD6B55",

                confirmButtonText: "是",

                cancelButtonText: "否",

                closeOnConfirm: false

            },

            function(isConfirm){

                if(isConfirm){
                    $.ajax({
                        url:'/deleteGame/'+gameId,
                        type:'get',
                        success:function (result) {
                            if(result.resultCode == 200){
                                swal("", result.message, "success");
                                /*改变用户的状态显示*/
                                var gameTr = document.getElementById("gameTr_"+gameId);
                                gameTr.remove();

                            }else{
                                swal("",result.message, "error")
                            }
                        }
                    });

                }

            });

    }


</script>

</html>