<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>游戏库</title>



    <div th:include="common :: commonheader"></div>
    <link rel="stylesheet" href="/assets/style.css">



</head>
<body data-spy="scroll" data-offset="122" data-target="#main-menu" data-skrollr="true">

<!-- Color switcher -->
<div th:replace="common :: #sidebar"></div>

<!-- Scroll to top button -->
<div th:replace="common :: #toTop"></div>



<!-- Navbar -->
<div th:replace="common :: #topMenu"></div>
<!-- Navbar end -->

<!--订单展示-->
<div class="container" style="margin-top: 140px;">

    <span th:if="${gameOrders == null}" style="color: #fed500;font-size:25px;margin-left: 500px;">你还未购买任何游戏</span>


    <div class="row" th:if="${gameOrders != null}">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="table-content table-responsive">
                <table>
                    <thead >
                    <tr style="border-bottom:1px solid white">
                        <th style="font-size: large;">图片</th>
                        <th style="font-size: large;">游戏名</th>
                        <th style="font-size: large;">购买价格</th>
                        <th style="font-size: large;">购买日期</th>
                        <th style="font-size: large;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="gameOrder :${gameOrders}">
                        <td class="product-thumbnail">
                            <img th:src="${gameOrder.gameImg}" alt="" style="width: 250px;height: 150px;">
                        </td>
                        <td class="product-name"><a th:href="@{/gameDetail(gameId=${gameOrder.gameId})}" style="color: #FED500;">[[${gameOrder.gameName}]]</a></td>

                        <td class="product-subtotal">￥[[${gameOrder.totalPrice}]]</td>

                        <td class="product-subtotal">[[${#dates.format(gameOrder.payTime,'yyyy-MM-dd')}]]</td>

                        <td class="product-remove">
                            <a th:href="@{/download/{gameName}(gameName=${gameOrder.gameName})}"><i class="glyphicon glyphicon-download-alt"></i></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>





<!--script-->
<div th:replace="common :: #commonScript"></div>


</body>

<!--菜单script-->
<script type="text/javascript" th:replace="common :: #menuScript"></script>

</html>