<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.gamemall.dao.GameImgMapper">
    <!--public List<String> selectAllImgById(int id);-->
    <select id="selectAllImgById" resultType="string">
        select game_img
        from game_img
        where game_id = #{id}
    </select>

    <!--int insertGameImgs(GameImg gameImg);-->
    <insert id="insertGameImgs" parameterType="com.xy.gamemall.entity.GameImg">
        insert into game_img(game_id,game_img) values
        <foreach collection="gameImgs" item="img" separator=",">
            (#{gameId},#{img})
        </foreach>
    </insert>

    <!--int deleteGameImgByGameId(Long gameId);-->
    <delete id="deleteGameImgByGameId" parameterType="long">
        delete from game_img where game_id = #{gameId}
    </delete>

</mapper>