<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.gamemall.dao.WishListMapper">

    <!--public List<Long> selectWishGameIdsByUserId(Long userId);-->
    <select id="selectWishGameIdsByUserId" parameterType="long" resultType="long">
        SELECT game_id FROM wishList WHERE user_id = #{userId};
    </select>

    <!--List<WishListDTO> selectWishListDTOByGameIds(List<Long> wishGameIds);-->
    <select id="selectWishListDTOByGameIds" parameterType="list" resultType="com.xy.gamemall.entity.dto.WishListDTO">

        <if test="wishGameIds != null">
            SELECT game_info.game_id,game_img,type_name,game_name,CAST(IF(game_discount = 0,1,game_discount)*game_price AS DECIMAL(18,2)) total_price
            FROM game_info LEFT JOIN game_type ON game_info.`type_id`=game_type.`type_id` LEFT JOIN game_img ON game_info.`game_id`=game_img.`game_id`
            WHERE game_img LIKE '%p1.jpg' and game_info.`game_id` IN
            <foreach collection="wishGameIds" item="gameId" separator="," open="(" close=")">
                #{gameId}
            </foreach>
        </if>
    </select>

    <!--int insertToWishList(@Param("userId") Long userId, @Param("gameId") Long gameId);-->
    <insert id="insertToWishList">
        insert into wishList values (#{userId},#{gameId})
    </insert>

    <!--int deleteWishListItemByUserIdAndGameId(@Param("userId") Long userId,@Param("gameId") Long gameId);-->
    <delete id="deleteWishListItemByUserIdAndGameId">
        delete from wishList where user_id=#{userId} and game_id=#{gameId}
    </delete>

</mapper>